[submodule "3rdparty/msdf-atlas-gen"]
	path = 3rdparty/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "3rdparty/vk-bootstrap"]
	path = 3rdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/simdutf"]
	path = 3rdparty/simdutf
	url = https://github.com/simdutf/simdutf.git
[submodule "3rdparty/FunctionTraits/FunctionTraits"]
	path = 3rdparty/FunctionTraits/FunctionTraits
	url = https://github.com/HexadigmSystems/FunctionTraits
[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/VulkanMemoryAllocator"]
	path = 3rdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdparty/libqss"]
	path = 3rdparty/libqss
	url = https://github.com/jhanssen/libqss.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/harfbuzz"]
	path = 3rdparty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/quickjs"]
	path = 3rdparty/quickjs
	url = git@github.com:bellard/quickjs.git
[submodule "3rdparty/shaderc"]
	path = 3rdparty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "3rdparty/SPIRV-Tools"]
	path = 3rdparty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "3rdparty/SPIRV-Headers"]
	path = 3rdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "3rdparty/base64"]
	path = 3rdparty/base64
	url = git@github.com:tobiaslocker/base64.git
[submodule "3rdparty/yoga"]
	path = 3rdparty/yoga
	url = https://github.com/facebook/yoga.git
